[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dialr"]
	path = dialr
	url = https://github.com/socialresearchcentre/dialr
[submodule "dialrjars"]
	path = dialrjars
	url = https://github.com/socialresearchcentre/dialrjars
[submodule "testdat"]
	path = testdat
	url = https://github.com/socialresearchcentre/testdat
